.bg-primary {
  background-color: $primary;
}

.bg-primary-contrast {
  background-color: $primary-contrast;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-secondary-contrast {
  background-color: $secondary-contrast;
}

.bg-white {
  background-color: $white;
}

.bg-positive {
  background-color: $positive;
}

.bg-positive-opacity {
  background-color: $positive-opacity;
}

.bg-warning {
  background-color: $warning;
}

.bg-warning-opacity {
  background-color: $warning-opacity;
}

.bg-negative {
  background-color: $negative;
}

.bg-negative-opacity {
  background-color: $negative-opacity;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-light-gray-opacity {
  background-color: $light-gray-opacity;
}