.border-xs {
  border-radius: $border-xs;
}

.border-sm {
  border-radius: $border-sm;
}

.border-md {
  border-radius: $border-md;
}

.border-lg {
  border-radius: $border-lg;
}

.border-xl {
  border-radius: $border-xl;
}

.border-none {
  border: none;
}

.round {
  border-radius: 50%;
}