//SPACING - MARGINS

// all margin
.ma-xs {
  margin: $spacing-xs;
}

.ma-sm {
  margin: $spacing-sm;
}

.ma-md {
  margin: $spacing-md;
}

.ma-lg {
  margin: $spacing-lg;
}

.ma-xl {
  margin: $spacing-xl;
}

// vertical margin
.my-xs {
  margin-top: $spacing-xs;
  margin-bottom: $spacing-xs;
}

.my-sm {
  margin-top: $spacing-sm;
  margin-bottom: $spacing-sm;
}

.my-md {
  margin-top: $spacing-md;
  margin-bottom: $spacing-md;
}

.my-lg {
  margin-top: $spacing-lg;
  margin-bottom: $spacing-lg;
}

.my-xl {
  margin-top: $spacing-xl;
  margin-bottom: $spacing-xl;
}

// horizontal margin
.mx-xs {
  margin-left: $spacing-xs;
  margin-right: $spacing-xs;
}

.mx-sm {
  margin-left: $spacing-sm;
  margin-right: $spacing-sm;
}

.mx-md {
  margin-left: $spacing-md;
  margin-right: $spacing-md;
}

.mx-lg {
  margin-left: $spacing-lg;
  margin-right: $spacing-lg;
}

.mx-xl {
  margin-left: $spacing-xl;
  margin-right: $spacing-xl;
}

// top margin
.mt-xs {
  margin-top: $spacing-xs;
}

.mt-sm {
  margin-top: $spacing-sm;
}

.mt-md {
  margin-top: $spacing-md;
}

.mt-lg {
  margin-top: $spacing-lg;
}

.mt-xl {
  margin-top: $spacing-xl;
}

// bottom margin
.mb-xs {
  margin-bottom: $spacing-xs;
}

.mb-sm {
  margin-bottom: $spacing-sm;
}

.mb-md {
  margin-bottom: $spacing-md;
}

.mb-lg {
  margin-bottom: $spacing-lg;
}

.mb-xl {
  margin-bottom: $spacing-xl;
}

// right margin
.mr-xs {
  margin-right: $spacing-xs;
}

.mr-sm {
  margin-right: $spacing-sm;
}

.mr-md {
  margin-right: $spacing-md;
}

.mr-lg {
  margin-right: $spacing-lg;
}

.mr-xl {
  margin-right: $spacing-xl;
}

// left margin
.ml-xs {
  margin-left: $spacing-xs;
}

.ml-sm {
  margin-left: $spacing-sm;
}

.ml-md {
  margin-left: $spacing-md;
}

.ml-lg {
  margin-left: $spacing-lg;
}

.ml-xl {
  margin-left: $spacing-xl;
}

// SPACING - PADDINGS

// all paddings
.pa-xs {
  padding: $spacing-xs;
}

.pa-sm {
  padding: $spacing-sm;
}

.pa-md {
  padding: $spacing-md;
}

.pa-lg {
  padding: $spacing-lg;
}

.pa-xl {
  padding: $spacing-xl;
}

// vertical padding
.py-xs {
  padding-top: $spacing-xs;
  padding-bottom: $spacing-xs;
}

.py-sm {
  padding-top: $spacing-sm;
  padding-bottom: $spacing-sm;
}

.py-md {
  padding-top: $spacing-md;
  padding-bottom: $spacing-md;
}

.py-lg {
  padding-top: $spacing-lg;
  padding-bottom: $spacing-lg;
}

.py-xl {
  padding-top: $spacing-xl;
  padding-bottom: $spacing-xl;
}

// horizontal padding
.px-xs {
  padding-right: $spacing-xs;
  padding-left: $spacing-xs;
}

.px-sm {
  padding-right: $spacing-sm;
  padding-left: $spacing-sm;
}

.px-md {
  padding-right: $spacing-md;
  padding-left: $spacing-md;
}

.px-lg {
  padding-right: $spacing-lg;
  padding-left: $spacing-lg;
}

.px-xl {
  padding-right: $spacing-xl;
  padding-left: $spacing-xl;
}

// top padding
.pt-xs {
  padding-top: $spacing-xs;
}

.pt-sm {
  padding-top: $spacing-sm;
}

.pt-md {
  padding-top: $spacing-md;
}

.pt-lg {
  padding-top: $spacing-lg;
}

.pt-xl {
  padding-top: $spacing-xl;
}

// bottom padding
.pb-xs {
  padding-bottom: $spacing-xs;
}

.pb-sm {
  padding-bottom: $spacing-sm;
}

.pb-md {
  padding-bottom: $spacing-md;
}

.pb-lg {
  padding-bottom: $spacing-lg;
}

.pb-xl {
  padding-bottom: $spacing-xl;
}

// right padding
.pr-xs {
  padding-right: $spacing-xs;
}

.pr-sm {
  padding-right: $spacing-sm;
}

.pr-md {
  padding-right: $spacing-md;
}

.pr-lg {
  padding-right: $spacing-lg;
}

.pr-xl {
  padding-right: $spacing-xl;
}

// left padding
.pl-xs {
  padding-left: $spacing-xs;
}

.pl-sm {
  padding-left: $spacing-sm;
}

.pl-md {
  padding-left: $spacing-md;
}

.pl-lg {
  padding-left: $spacing-lg;
}

.pl-xl {
  padding-left: $spacing-xl;
}

// FLEX GAP
.gap-xs {
  gap: $spacing-xs;
}

.gap-sm {
  gap: $spacing-sm;
}

.gap-md {
  gap: $spacing-md;
}

.gap-lg {
  gap: $spacing-lg;
}

.gap-xl {
  gap: $spacing-xl;
}